:root {
    --red: #D40424;
    --white: #E9F0F7;
    --light-blue: #AEC5D6;
    --mid-blue: #223040;
    --dark-blue: #101D29;
}

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded&display=swap');

.main-area {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.main__form, .form__label, .form__input, .form__select,.form__button {
    display: block;
    width: 100%;    
}


.main__form {
    padding: 2rem;
    border: var(--red) solid 1px;
    border-radius: 10px;
    width: 500px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}



.form__label+.form__input {
    margin-bottom: 1rem;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.main__form .form__label {
    font-weight: bold;
}

.main__form .form__input, .form__select{
    line-height: 2rem;
    height: 2rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: var(--mid-blue) 1px solid;
    padding: 0 0.5rem;

}

.main__form .form__button {
    margin-top: 1rem;
    font-size: 1.2rem;
    height: 2.3rem;
    border: none;
    background-color: var(--red);
    color: var(--white);
    border-radius: 0.5rem;
}

.form__input:focus, .form__select:focus{
    outline:  none;
    border-color: var(--red);
     
}
